.link {
    margin: 5rem auto 0;
    display: flex;
    justify-content: center;
}

.link > a {
    color: #2c2c2c;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    font-family: var(--font-primary);
}

.link > a:hover {
    transform: scale(1.2);
    color: #5d5d5d;
    transition: 50ms ease-in-out;
}
