.headerSection {
    width: min(80%, 90rem);
    /* height: 65vh; */
    margin: 0vh auto 2vh;
    border-radius: 10px;
    background-color: var(--bg-header);
    /* padding: 4em 0; */
}

.split {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 50em) {
    .split {
        display: flex;
        flex-direction: row;
    }
    .split > * {
        flex-basis: 100%;
    }

    .split > * + * {
        margin-left: 3em;
    }
}

.image {
    display: block;
    width: 24em;
    max-width: 100%;
}

.imgDescr {
    color: #474747;
}

.text {
    padding: 1em 0;
    width: 60%;
}

.textHeading {
    font-size: 3rem;
}

@media (max-width: 426px) {
    .text {
        width: 100%;
    }
}

.text > h2 {
    margin-bottom: 0.75em;
}
