.intro {
    width: 100%;
    /* height: 87vh; */
    position: relative;
    display: flex;
    align-items: center;
    padding: 10% 0;
}

@media (max-width: 426px) {
    .intro {
        padding: 20% 0;
    }
}

.blob {
    width: 22%;
    height: 100%;
    background-color: #b0aeae;
    margin-left: 10%;
    position: absolute;
    z-index: 20;
}

.blob2 {
    width: 90%;
    height: 22%;
    margin-left: 5%;
    position: absolute;
    z-index: 20;
    opacity: 0.1;
    font-size: 10vw;
    top: 0vw;
}

@media (max-width: 1266px) {
    .blob {
        width: 26%;
    }
}

@media (max-width: 426px) {
    .blob {
        width: 36.5vw;
    }
}

.introBlock {
    position: relative;
    z-index: 22;
    /* width: 60%; */
    /* padding: 0 15% 0 25%; */
    padding: 0px 10% 0 20%;
    color: #474747;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.introBlock > div {
    font-family: var(--font-primary);
}

@media (max-width: 1026px) {
    .introBlock {
        flex-direction: column;
        align-items: baseline;
    }
}

.introHeading {
    font-size: 4.5vw;
    font-weight: 800;
    line-height: 4.5vw;
    width: 50%;
    background-color: #c4c4c4;
    padding: 1vw 0vw 1vw 2vw;
    border-radius: 10px;
}

@media (max-width: 1026px) {
    .introHeading {
        font-size: 6vw;
        line-height: 6vw;
    }
}

@media (max-width: 826px) {
    .introHeading {
        font-size: 8vw;
        line-height: 8vw;
    }
}

@media (max-width: 426px) {
    .introHeading {
        font-size: 12vw;
        line-height: 12vw;
        padding: 3vw 0vw 3vw 5vw;
    }
}

.introText {
    font-size: 2vw;
    margin: 1vw 0;
    width: 80%;
    font-weight: 300;

    background-color: #c4c4c4;
    padding: 1vw 0vw 1vw 2vw;
    border-radius: 10px;
}

@media (max-width: 1328px) {
    .introText {
        width: 65%;
        font-size: 2vw;
    }
}

@media (max-width: 826px) {
    .introText {
        width: 80%;
        font-size: 2.5vw;
    }
}

@media (max-width: 426px) {
    .introText {
        width: 90%;
        font-size: 5vw;
        margin: 3vw 0;
        padding: 3vw 0vw 3vw 5vw;
    }
}

.introImg {
    width: 38vw;
    height: auto;
    object-fit: contain;
    filter: grayscale(1);
    margin-left: 0rem;
    border-radius: 20px;
    pointer-events: none;
}

@media (max-width: 1326px) {
    .introImg {
        width: 34vw;
    }
}

@media (max-width: 1026px) {
    .introImg {
        width: 42vw;
        margin-top: 6vh;
    }
}

@media (max-width: 826px) {
    .introImg {
        margin-top: 4vh;
    }
}

@media (max-width: 426px) {
    .introImg {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
