.intro {
    width: 100%;
    height: 50rem;
    position: relative;
    display: flex;
    align-items: center;
}

@media (max-width: 1026px) {
    .intro {
        height: 40rem;
    }
}

.blob {
    width: 22%;
    height: 100%;
    background-color: #b0aeae;
    margin-left: 10%;
    position: absolute;
    z-index: 20;
}

@media (max-width: 1266px) {
    .blob {
        width: 26%;
    }
}

@media (max-width: 426px) {
    .blob {
        width: 8rem;
    }
}

.introBlock {
    position: relative;
    z-index: 22;
    width: 60%;
    padding: 0 15% 0 25%;
    color: #474747;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.introBlock > div {
    font-family: var(--font-primary);
}

@media (max-width: 1326px) {
    .introBlock {
        flex-direction: column;
        align-items: baseline;
    }
}

.introHeading {
    font-size: 4.5vw;
    font-weight: 800;
    line-height: 4.5vw;
    width: 50%;
}

@media (max-width: 1026px) {
    .introHeading {
        font-size: 6vw;
        line-height: 6vw;
    }
}

@media (max-width: 826px) {
    .introHeading {
        font-size: 8vw;
        line-height: 8vw;
    }
}

@media (max-width: 426px) {
    .introHeading {
        font-size: 12vw;
        line-height: 12vw;
        /* width: 20%; */
    }
}

.introText {
    font-size: 2vw;
    margin: 1vw 0 1.5vw;
    width: 80%;
    font-weight: 300;
}

@media (max-width: 1028px) {
    .introText {
        width: 75%;
        font-size: 2.4vw;
    }
}

@media (max-width: 426px) {
    .introText {
        width: 100%;
        font-size: 5vw;
        /* line-height: 5vw; */
        margin-bottom: 3vw;
    }
}

.introImg {
    width: 30vw;
    height: auto;
    object-fit: contain;
    filter: grayscale(1);
    margin-left: 0rem;
}

@media (max-width: 1326px) {
    .introImg {
        width: 22rem;
        margin-top: 3rem;
    }
}

@media (max-width: 1026px) {
    .introImg {
        width: 20rem;
        margin-top: 3rem;
    }
}

@media (max-width: 526px) {
    .introImg {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
