.split {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.split > * {
    flex-basis: 100%;
}

@media (max-width: 426px) {
    .split {
        margin-top: 0rem;
    }
}

.image {
    display: block;
    width: 24em;
    max-width: 100%;
}

.imgDescr {
    color: #474747;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
}

.imgDescr:nth-child(even) {
    flex-direction: row;
}

.imgDescr:nth-child(odd) {
    flex-direction: row-reverse;
}

.text {
    padding: 1em 0;
    width: 60%;
}

@media (max-width: 1126px) {
    .text:nth-child(even) {
        margin-right: 1rem;
    }
}

.textHeading {
    font-size: 3.3rem;
    width: 70%;
    margin: 0 auto;
}

@media (max-width: 1126px) {
    .textHeading {
        font-size: 2.2rem;
    }
}

@media (max-width: 826px) {
    .textHeading {
        font-size: 1.4rem;
    }
}

.blobHorizontal {
    background-color: #bababa;
    width: 100%;
    height: 80%;
    /* margin-left: 2rem; */
}

.blobHorizontal:nth-child(even) {
    margin-left: 2rem;
}
