.button {
    padding: 1.5vw 3vw;
    background-color: #555555;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

@media (max-width: 426px) {
    .button {
        padding: 4vw 8vw;
    }
}

.buttonLink {
    text-decoration: none;
}

.buttonText {
    font-family: var(--font-primary);
    color: #d3d3d3;
    font-weight: 700;
    font-size: 1vw;
}

.buttonText:hover,
.button:hover {
    color: #cccbcb;
    transform: scale(1.05);
    transition: 50ms ease-in-out;
}

@media (max-width: 426px) {
    .buttonText {
        font-size: 4vw;
    }
}
