.body {
    margin: 0;
    padding: 0;
}

.mainBody {
    width: auto;
    background-color: black;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.headerSection {
    width: 80%;
    height: 75vh;
    margin: 0vh auto 2vh;
    border: 1px solid black;
    background-color: burlywood;
}

.mainSection {
    width: 80%;
    height: 75vh;
    margin: 0vh auto 2vh;
    border: 1px solid black;
    background-color: antiquewhite;
}

.lastSection {
    width: 80%;
    height: 75vh;
    margin: 0 auto;
    border: 1px solid black;
    background-color: cadetblue;
}
