:root {
    /* --bg-primary: #807e7e; */
    --bg-primary: #c4c4c4;
    --bg-header: #c4c4c4;
}

* {
    margin: 0;
    padding: 0;
}

.mainBody {
    width: auto;
    background-color: var(--bg-primary);
    padding-bottom: 3rem;
}
