.footer {
    width: auto;
    height: 40vh;
    background-color: #555555;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (max-width: 426px) {
    .footer {
        flex-direction: column;
        padding: 0;
    }
}

.contactInfo {
    width: min(90%, 90rem);
    height: 35vh;
    background-color: #797979;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

h1 {
    font-variant-caps: petite-caps;
    padding: 1rem;
}

.contactDetails {
    font-variant-caps: petite-caps;
    font-weight: 300;
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.contactDetails > p {
    padding: 1rem;
}

@media (max-width: 426px) {
    .contactDetails {
        font-size: 0.9rem;
    }

    .contactDetails > p {
        padding: 0.7rem;
    }
}

.bgImg {
    position: absolute;
    height: inherit;
    width: 100%;
    opacity: 0.06;
    left: 0;
    z-index: 9;
}

.copyright {
    /* border-top: 1px solid rgb(234, 234, 234); */
    /* margin-top: 1rem; */
    font-size: 1rem;
    font-variant-caps: petite-caps;
}

.copyright > p {
    padding: 1rem;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.copyright > p > span {
    font-weight: 600;
    cursor: pointer;
}

.copyright > p > span > a {
    color: white;
    text-decoration: none;
}
