.footer {
    width: auto;
    /* height: 40vh; */
    background-color: #555555;
    padding: 2.5% 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (max-width: 426px) {
    .footer {
        flex-direction: column;
        padding: 0%;
    }
}

.contactInfo {
    width: 90%;
    /* height: 35vh; */
    background-color: #797979;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;

    font-family: var(--font-primary);
    padding: 1% 0;
}

@media (max-width: 426px) {
    .contactInfo {
        width: 100%;
        padding: 10% 0;
    }
}

.footerHeader {
    padding: 1vw;
    font-size: 2.2vw;
    font-weight: 700;
}

@media (max-width: 426px) {
    .footerHeader {
        font-size: 9vw;
        padding: 3vw;
    }
}

.contactDetails {
    font-weight: 300;
    font-size: 1.1vw;
    text-align: center;
    margin: 1vw 0;
}

.contactDetails > p {
    padding: 0.55vw 0;
}

.contactLink {
    color: white;
}

@media (max-width: 426px) {
    .contactDetails {
        font-size: 4vw;
    }

    .contactDetails > p {
        padding: 2vw;
    }
}

.bgImg {
    position: absolute;
    height: 24vw;
    width: 100%;
    opacity: 0.06;
    left: 0;
    z-index: 9;
}

.copyright > p {
    padding: 1vw;
    font-size: 1vw;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 426px) {
    .copyright > p {
        font-size: 3vw;
        padding: 4vw;
    }
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

span {
    font-weight: 600;
}

.copyright > p > span {
    cursor: pointer;
}

.copyright > p > span > a {
    color: white;
    text-decoration: none;
}
